<%= form_for(@word) do |f| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% @word.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr>
  <th>
    <%= f.label :wort %>
  </th>
  <th>
    <%= f.text_field :word %>
  </th>
  <th>
    <%= f.label :aussprache %>
  </th>
  <th>
    <%= f.text_field :spelling %>
  </th>
  </tr>
  <tr>
  <th>
    <%= f.label :kommentar %>
  </th>
  <th>
    <%= f.text_field :comment %>
  </th>
  <th>
    <%= f.label :monat %>
  </th>
  <th>
    <%= f.number_field :month %>
  </th>
  </tr>
  <tr>
  <th>
    <%= f.label :polish %>
  </th>
  <th>
    <%= f.check_box :polish %>
  </th>
  <th>
    <%= f.label :german %>
  </th>
  <th>
    <%= f.check_box :german %>
  </tr>
  </th>
  <tr>
  <th>
  <div class="actions">
    <%= f.submit %>
  </div>
  </th>
  </tr>
</table>
<% end %>
