<div class="new_word_block">
<h1>Neues Wort</h1>

<%= render 'form' %>
</div>

<br />

<div class="word_list_block">
<h1>Wortliste</h1>

<div class="digg_pagination">
    <%= will_paginate @words %>
</div>

<table>
  <tr>
    <th>Wort</th>
    <th>Aussprache</th>
    <th>Kommentar</th>
    <th>Monat</th>
    <th>
<%= link_to "Polnisch",
        words_path(:polish => true),
        :remote => true,
        :id => 'polish_toggle',
        :class=>"toggle_none" %>
</th>
    <th>
<%= link_to "Deutsch",
        words_path(:german => true),
        :remote => true,
        :id => 'german_toggle',
        :class=>"toggle_none"  %>
</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <ul id = "words"
    <%= render @words %>
  </ul>
</table>

<div class="digg_pagination">
    <%= will_paginate @words %>
</div>
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
</div>
</div>

<br />
