<div class="new_word_block">
<h1>Neues Wort</h1>

<%= render 'form' %>
</div>

<br />

<div class="word_list_block">
<h1>Wortliste</h1>

<div class="digg_pagination">
    <%= will_paginate @words %>
</div>

<table>
  <tr>
    <th>Wort</th>
    <th>Sprache</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @words.each do |word| %>
  <tr>
    <td><%= word.word %></td>
    <td><%= word.language %></td>
    <td><%= link_to 'Aendern', edit_word_path(word) %></td>
    <td><%= link_to 'Loeschen', word, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<div class="digg_pagination">
    <%= will_paginate @words %>
</div>
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
</div>
</div>

<br />
